.usersForm{


    &_usersCard{
        width: fit-content;
        text-align: center;
        margin-top: 2%;
        justify-self: center;
        background-color: transparent;

        &_saveButton{
            padding-bottom: 2%;
        }
    }
}

